/** CSS untuk carousel */

/** CSS untuk tombol navigasi */

.filter-button.btn {
  background-color: #00bf63 !important; /* Warna background custom */
  color: #fff !important; /* Warna teks */
  border-color: #00bf63 !important; /* Warna border */
}

.filter-button.btn:hover {
  background-color: #ffffff !important; /* Warna background saat di-hover */
  color: #00bf63 !important; /* Warna teks saat di-hover */
  border-color: #00bf63 !important; /* Warna border saat di-hover */
}
